<nav id="navbar-example2" class="navbar bg-warning px-3 mb-3">
  <a class="navbar-brand text-dark fw-bold" routerLink="/">TODO App</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link text-dark fw-bold" routerLink="/user-list" routerLinkActive="active">User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark fw-bold" routerLink="/task-view" routerLinkActive="active">Task</a>
    </li>
  </ul>
</nav>

<div class="container col-10 border rounded --bs-secondary-bg p-3">
  <router-outlet></router-outlet>
</div>